{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col m4">
        <div class="card white">
            <div class="card-content black-text">
                <span class="card-title">Step 1: Plan</span>
                <p>Are you planning a trip? Create an accurate map and itinerary!</p>
            </div>
            <div class="card-action">
                <a href="#" class="teal-text text-lighten-2">Plan your trip</a>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card white">
            <div class="card-content black-text">
                <span class="card-title">Step 2: Add places</span>
                <p>Which places you visited recently? Have you ever been in...? Show it on your map!</p>
            </div>
            <div class="card-action">
                <a href="#" class="teal-text text-lighten-2">Create travel map</a>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card white">
            <div class="card-content black-text">
                <span class="card-title">Step 3: Share</span>
                <p>Show off to your friends about your trips and travels!
                You can create a beautiful and functional map!</p>
            </div>
            <div class="card-action">
                <a href="#" class="teal-text text-lighten-2">Share maps</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}