{% extends "base.html" %}
{% block content %}
<style>
    #map{ height: 85% }
</style>
<div id="map"></div>
<script>
    var map = L.map('map').setView([0.0, 0.0], 2);
    L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a>'}).addTo( map );

    var points = {{points}};
    var markers = [];
    for (var i = 0; i < points.length; i++) {
        markers.push(L.marker(points[i]).addTo(map));
    }
    var group = new L.featureGroup(markers);

    map.addLayer(group);
    var drawControl = new L.Control.Draw({
        edit: {
            featureGroup: group,
            edit: false
        },
        draw: {
            polygon: false,
            polyline: false,
            rectangle: false,
            circle: false,
        }
    });
    map.addControl(drawControl);

    map.on('draw:created', function (e) {
        var layer = e.layer;
        group.addLayer(layer);
        coordinates = layer.getLatLng()
        $.get( "/add_point/" + coordinates);
    });

    map.on('draw:deleted', function (e) {
        e.layers.eachLayer(function(layer) {
            var coordinates = layer.getLatLng();
            $.get( "/delete_point/" + coordinates);
        });
    });

    var options = {
        collapsed: false, /* Whether its collapsed or not */
        position: 'bottomleft', /* The position of the control */
        text: 'Find', /* The text of the submit button */
        bounds: null, /* a L.LatLngBounds object to limit the results to */
        email: null, /* an email string with a contact to provide to Nominatim. Useful if you are doing lots of queries */
        callback: function (results) {
                var bbox = results[0].boundingbox,
                    first = new L.LatLng(bbox[0], bbox[2]),
                    second = new L.LatLng(bbox[1], bbox[3]),
                    bounds = new L.LatLngBounds([first, second]);
                this._map.fitBounds(bounds);
        }
    };
    var osmGeocoder = new L.Control.OSMGeocoder(options);
    map.addControl(osmGeocoder);

    $('.leaflet-container').css('cursor','crosshair');
</script>
{% endblock %}