{% extends "base.html" %}
{% block content %}
<form method="POST">
    <div class="row">
        <div class="input-field col m4 offset-m4">
            <input type="text" name="username" value="{{ request.form.username }}" required>
                <label>Login</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col m4 offset-m4">
            <input type="password" name="password" value="{{ request.form.password }}" required>
                <label>Password</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col m4 offset-m4">
            <input type="text" name="email" value="{{ request.form.email }}" required>
                <label>Email</label>
        </div>
    </div>
    <div class="row">
        <div class="col m12 center">
            <input class="waves-effect waves-teal btn-flat" type="submit" value="Register">
        </div>
    </div>
</form>
{% endblock %}